<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light-ing">
        <div style="width: 182px; height:42px; background-color:#ffffff; margin-top: -13px; margin-right: 10px;">
            <img src="../../../assets/images/logo/ing-logo-white-mini.JPG" width="182" />
        </div>
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About </a>
                </li> -->
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button *ngIf="!isLogin" type="button" class="btn btn-secondary" (click)="signInChild()"><i
                        class="fa fa-sign-in" aria-hidden="true"></i>
                    Sign In</button>
                <button *ngIf="isLogin" type="button" class="btn btn-secondary" (click)="signOutChild()"><i
                        class="fa fa-sign-out" aria-hidden="true"></i>
                    Sign Out</button>
            </form>
        </div>
    </nav>
</header>